<div
    class="no-nodata-wrapper"
    *ngIf="!productionOrders; else showorderlist"
>
    <app-no-data></app-no-data>
</div>
<ng-template #showorderlist>
        <button
        mat-button
        (click)="reset()"
        class="btn btn-secondary allign_right">{{ "sequencePlanning.reset_btn_label" | translate }}</button>
<div cdkDropListGroup class="productionorders-wrapper">
    <div *ngFor="let col of colCount" class="list-container">
        <div
            cdkDropList
            [cdkDropListData]="getProductionOrdersToDisplay(col)"
            class="example-list"
            [id]="col.toString()"
            (cdkDropListDropped)="drop($event)"
        >
            <div class="box-head primary">
                <span class="col-number">{{ "sequencePlanning.header_label_number" | translate }}</span>
                <span class="col-order">{{ "sequencePlanning.header_label_product" | translate }}</span>
                <span class="col-quantity">{{ "sequencePlanning.header_label_quantity" | translate }}</span>
                <span class="col-actions">{{ "sequencePlanning.header_label_actions" | translate }}</span>
            </div>
            <div *ngFor="let productionOrder of getProductionOrdersToDisplay(col); let idx = index" cdkDrag class="item-box">
                <span class="col-number">{{ (col * 15) + idx + 1 }}</span>
                <span class="col-order">{{ productionOrder.category }}{{ productionOrder.id }}</span>
                <span class="col-quantity">{{productionOrder.planned_production}}</span>
                <span class="col-actions">
                    <form style="display: initial">
                    <input  
                        type="number" 
                        min="10" 
                        step="10" 
                        max="{{ productionOrder.planned_production - 10 }}" 
                        [disabled]="canInput(productionOrder)" 
                        [value]="getDefaultSplitAmount(productionOrder)"
                        #amt
                        (input)="splits.disabled=!canSplit(productionOrder, amt.value)"
                        onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                    >                
                    <button
                        #splits
                        mat-icon-button 
                        matTooltip="{{ 'btn.split' | translate }}"
                        class="split-btn" 
                        (click)="splitItem(productionOrder, idx, col, amt.value); $event.preventDefault()" 
                        [disabled]="!canSplit(productionOrder, amt.value)"
                    >
                        <mat-icon> call_split</mat-icon>
                    </button>
                    <button
                        mat-icon-button
                        matTooltip="{{ 'btn.delete' | translate }}"
                        class="split-btn" 
                        [disabled]="!canDelete(productionOrder.id)" 
                        (click)="deleteItem(productionOrder, idx, col)"
                    >
                     <mat-icon>delete</mat-icon>
                     </button>

                </form>
                </span>
            </div>
        </div>
    </div>
</div>
</ng-template>

  
