<!-- <div>
    <mat-list>
        <div class="mat-list-content-wrapper">
            <div class="list12">
                <div>
                    <div mat-subheader>Verbindliche Aufträge</div>
                    <mat-list-item>
                        <div class="list-entry-wrapper">
                            <div>Produkt</div>
                            <div>Auftragsmenge</div>
                        </div>
                    </mat-list-item>
                    <mat-list-item>
                        <div class="list-entry-wrapper">
                            <div mat-line>P1</div>
                            <div>{{ mandatoryOrders.p1 }} Stück</div>
                        </div>
                    </mat-list-item>
                    <mat-list-item>
                        <div class="list-entry-wrapper">
                            <div mat-line>P2</div>
                            <div> {{ mandatoryOrders.p2 }} Stück</div>
                        </div>
                    </mat-list-item>
                    <mat-list-item>
                        <div class="list-entry-wrapper">
                            <div mat-line>P3</div>
                            <div> {{ mandatoryOrders.p3 }} Stück</div>
                        </div>
                    </mat-list-item>
                </div>
                <div>
                    <div mat-subheader>Direktverkauf</div>
                    <mat-list-item>
                        <div class="list-entry-wrapper">
                            <div>Produkt</div>
                            <div>Auftragsmenge</div>
                        </div>
                    </mat-list-item>
                    <mat-list-item>
                        <div class="list-entry-wrapper">
                            <div mat-line>P1</div>
                            <div> {{ directSales.p1 }} Stück</div>
                        </div>
                    </mat-list-item>
                    <mat-list-item>
                        <div class="list-entry-wrapper">
                            <div mat-line>P2</div>
                            <div> {{ directSales.p2 }} Stück</div>
                        </div>
                    </mat-list-item>
                    <mat-list-item>
                        <div class="list-entry-wrapper">
                            <div mat-line>P3</div>
                            <div> {{ directSales.p3 }} Stück</div>
                        </div>
                    </mat-list-item>
                </div>
            </div>
            <div>
                <mat-divider></mat-divider>
            </div>
            <div class="list12">
                <div>
                    <div mat-subheader>Produktionsplan</div>
                    <mat-list-item>
                        <div class="list-entry-wrapper">
                            <div>Auftragsnummer</div>
                            <div>Erzeugnis</div>
                            <div>Auftragsmenge</div>
                        </div>
                    </mat-list-item>
                    <mat-list-item *ngFor="let productionOrder of productionOrders; let i = index">
                        <div class="list-entry-wrapper">
                            <div mat-line>{{i + 1}}.</div>
                            <div mat-line>{{ productionOrder.category }}{{ productionOrder.id }} </div>
                            <div mat-line>{{ productionOrder.binding_orders }} Stück</div>
                        </div>
                    </mat-list-item>
                </div>
                <div>
                    <div mat-subheader>Bestellplan</div>
                    <mat-list-item>
                        <div class="list-entry-wrapper">
                            <div>Kaufteil</div>
                            <div>Auftragsnummer</div>
                            <div>Besttellmodus</div>
                        </div>
                    </mat-list-item>
                    <mat-list-item *ngFor="let productionOrder of productionOrders; let i = index">
                        <div class="list-entry-wrapper">
                            <div mat-line>{{i + 1}}.</div>
                            <div mat-line>{{ productionOrder.category }}{{ productionOrder.id }} </div>
                            <div mat-line>{{ productionOrder.binding_orders }} Stück</div>
                        </div>
                    </mat-list-item>
                </div>
                <div>
                    <div mat-subheader>Kapazitätsplanung</div>
                    <mat-list-item>
                        <div class="list-entry-wrapper">
                            <div>Arbeitsplatz</div>
                            <div>Schichten</div>
                            <div>Überzeiten</div>
                        </div>
                    </mat-list-item>
                    <mat-list-item *ngFor="let workstation of workstations; let i = index">
                        <div class="list-entry-wrapper">
                            <div mat-line>{{workstation.id}}</div>
                            <div mat-line>{{ workstation.shifts }} </div>
                            <div mat-line>{{ workstation.overTime }} Minuten</div>
                        </div>
                    </mat-list-item>
                </div>
            </div>
        </div>
    </mat-list>
    <div>
        <button class="btn btn-primary" (click)="exportData()">Export</button>
    </div>
</div> -->
<div>
    <div class="page-row-wrapper">

        <!-- Produktionsplanung  -->
        <div class="tbl-wrapper" *ngIf="mandatoryOrders">
            <h2>{{ "forecast.title" | translate }}</h2>
            <table mat-table [dataSource]="getObjectKeys(mandatoryOrders)" class="mat-elevation-z8">      
                <!-- Article Number Column  -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>{{ "production.product" | translate }}</th>
                    <td mat-cell class="text-align-left" *matCellDef="let key"> {{ key | uppercase }} </td>
                </ng-container>

                <!-- Quantity Column -->
                <ng-container matColumnDef="orderQuantity">
                    <th mat-header-cell *matHeaderCellDef>{{ "production.binding_orders" | translate }}</th>
                    <td mat-cell *matCellDef="let key"> {{ mandatoryOrders[key] }} {{ "export.pieces" | translate }}</td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="['id', 'orderQuantity']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['id', 'orderQuantity'];"></tr>
            </table>
        </div>

        <!-- Direktverkauf -->
        <div class="tbl-wrapper" *ngIf="directSales">
            <h2>{{ "directSales.title" | translate }}</h2>
            <table mat-table [dataSource]="directSales.items" class="mat-elevation-z8">   

                <!-- Article Number Column  -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>{{ "production.product" | translate }}</th>
                    <td mat-cell class="text-align-left" *matCellDef="let item">P{{ item.article }} </td>
                </ng-container>

                <!-- Quantity Column -->
                <ng-container matColumnDef="orderQuantity">
                    <th mat-header-cell *matHeaderCellDef>{{ "directSales.quantity" | translate }}</th>
                    <td mat-cell *matCellDef="let item"> {{ item.quantity }} {{ "export.pieces" | translate }}</td>
                </ng-container>

                  <!-- Price Column -->
                  <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef>{{ "directSales.price" | translate }}</th>
                    <td mat-cell *matCellDef="let item"> {{ item.price | number:'1.2-2' }}€ </td>
                </ng-container>

                  <!-- Penalty Column -->
                  <ng-container matColumnDef="penalty">
                    <th mat-header-cell *matHeaderCellDef>{{ "directSales.penalty" | translate }}</th>
                    <td mat-cell *matCellDef="let item"> {{ item.penalty | number:'1.2-2' }}€</td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="['id', 'orderQuantity', 'price', 'penalty']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['id', 'orderQuantity', 'price', 'penalty'];"></tr>
            </table>
        </div>
    </div>

    <div>
        <mat-divider></mat-divider>
    </div>

    <div class="page-row-wrapper">

        <!-- Bestellplanung -->
        <div class="tbl-wrapper" *ngIf="orders">
            <h2>{{ "orderPlanning.title" | translate }}</h2>
            <table mat-table [dataSource]="orders" class="mat-elevation-z8"> 

                <!-- Article Number Column  -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>{{ "orderPlanning.id" | translate }}</th>
                    <td mat-cell class="text-align-left" *matCellDef="let order">{{ order.category }}{{ order.id }}</td>
                </ng-container>

                <!-- Quantity Column -->
                <ng-container matColumnDef="orderQuantity">
                    <th mat-header-cell *matHeaderCellDef>{{ "orderPlanning.orderQuantity" | translate }}</th>
                    <td mat-cell *matCellDef="let order">{{ order.orderQuantity }} {{ "export.pieces" | translate }}</td>
                </ng-container> 

                <!-- OrderType Column -->
                <ng-container matColumnDef="orderType">
                    <th mat-header-cell *matHeaderCellDef>{{ "orderPlanning.orderType" | translate }}</th>
                    <td mat-cell *matCellDef="let order">{{ order.orderType | titlecase }}</td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="['id', 'orderQuantity', 'orderType']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['id', 'orderQuantity', 'orderType'];"></tr>
            </table>
        </div>

        <!-- Eigenfertigung -->
        <div class="tbl-wrapper" *ngIf="productionOrders">
            <h2>{{ "production.title" | translate }}</h2>
            <table mat-table [dataSource]="productionOrders" class="mat-elevation-z8"> 

                <!-- Article Number Column  -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>{{ "production.product" | translate }}</th>
                    <td mat-cell class="text-align-left" *matCellDef="let productionOrder"> {{ productionOrder.category }}{{ productionOrder.id }} </td>
                </ng-container>

                <!-- Order Quantity Column -->
                <ng-container matColumnDef="orderQuantity">
                    <th mat-header-cell *matHeaderCellDef>{{ "production.planned_production" | translate }}</th>
                    <td mat-cell *matCellDef="let productionOrder">{{ productionOrder.planned_production }} {{ "export.pieces" | translate }}</td>
                </ng-container> 
            
                <tr mat-header-row *matHeaderRowDef="['id', 'orderQuantity']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['id', 'orderQuantity'];"></tr>
            </table>
        </div>

        <!-- Kapazitätsplanung -->
        <div class="tbl-wrapper" *ngIf="workstations">
            <h2>{{ "capacity.title" | translate }}</h2>
            <table mat-table [dataSource]="workstations" class="mat-elevation-z8"> 

                <!-- Article Number Column  -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>{{ "capacity.workstation" | translate }}</th>
                    <td mat-cell class="text-align-left" *matCellDef="let workstation">{{ workstation.id }}</td>
                </ng-container>

                <!-- Shifts Column -->
                <ng-container matColumnDef="shifts">
                    <th mat-header-cell *matHeaderCellDef>{{ "capacity.shifts" | translate }}</th>
                    <td mat-cell *matCellDef="let workstation">{{ workstation.shifts }}</td>
                </ng-container> 

                <!-- Overtime Column -->
                <ng-container matColumnDef="overtime">
                    <th mat-header-cell *matHeaderCellDef>{{ "capacity.extra_hours" | translate }}</th>
                    <td mat-cell *matCellDef="let workstation">{{ workstation.overTime }} min</td>
                </ng-container> 
            
                <tr class="primary" mat-header-row *matHeaderRowDef="['id', 'shifts', 'overtime']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['id', 'shifts', 'overtime'];"></tr>
            </table>
        </div>
    </div>
    <div>
        <button mat-fab color="primary" class="download-btn" (click)="exportData()">
            <mat-icon>download</mat-icon>
          </button>
    </div>
</div>

