.btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

mat-horizontal-stepper {
    height: 100%;
}

::ng-deep .mat-step-header {
    max-height: 72px;
}

::ng-deep .mat-horizontal-content-container {
    height: calc(100% - 72px);
}

::ng-deep .mat-horizontal-stepper-content {
    height: 100%;
}

