.btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 16px 4px 8px 4px;
}

.mat-step-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

mat-horizontal-stepper {
    height: 100% ;
}

::ng-deep .mat-step-header {
    max-height: 72px;
}

// Wichtig, damit lange Tabellen nicht abgeschnitten werden
// Angular-Default: overflow: hidden
// Platz für concent: 100% - Gröoße des mat-step Headers
::ng-deep .mat-horizontal-content-container {
    height: calc(100% - 72px);
}

::ng-deep .mat-horizontal-stepper-content {
    // height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow-y: scroll;

}



