<!--
<div class="importField">
  <div>
    <label for="formFile" class="form-label">{{ "import.fileupload" | translate }}</label>
    <label class="btn btn-primary">
      <i></i>{{ "import.selectFile" | translate }}<input type="file"  id="formFile" class="form-control" style="display: none;" name="image" (change)="onFileChange($event)">
    </label>
    <button (click)="upload()" class="btn btn-primary">
      {{ "import.upload" | translate }}
    </button>
  </div>

  <div *ngIf="fileUploadSuccessful">
    <h2>Anzeige nachdem die Datei erfolgreich hochgeladen wurde!</h2>
  </div>
</div>
-->


<input 
  type="file" 
  class="file-input" 
  required accept=".xml" 
  mat-mini-fab color="primary" 
  (change)="onFileSelected($event)" 
  #fileUploader
>
<div class="wrapper">
  <div class="dialog-wrapper">
    <div class="btns-wrapper mat-elevation-z8">
      <div class="file-select-wrapper btn-wrapper">
        <div>
          <p id="selected-file-name">{{ file ? ("import.selectedFile_name" | translate) + ": " + file?.name : "import.selectFile_help" | translate }}</p>
        </div>
        <button mat-button color="primary"  class="select-btn" (click)="fileUploader.click()">
            <mat-icon>attach_file</mat-icon>
            {{ "import.selectFile" | translate }}
        </button>
      </div>
      <div class="file-upload-wrapper btn-wrapper">
        <button mat-fab color="primary" class="upload-btn" (click)="loadData()" [disabled]="!parsedXml || fileUploadSuccessful">
              <mat-icon>upload</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="error-wrapper">
    <mat-list *ngIf="hasUplodError" class="upload-messages-wrapper">
      <mat-list-item *ngFor="let msg of errorMsgs">
        <mat-icon mat-list-icon color="warn">error</mat-icon>
        <div mat-line class="upload-message-error">{{msg | translate}}</div>
      </mat-list-item>
    </mat-list>
  </div>
</div>

