<div class="importField">
  <div>
    <label for="formFile" class="form-label">{{ "import.fileupload" | translate }}</label>
    <label class="btn btn-primary">
      <i class="fa fa-image"></i>{{ "import.selectFile" | translate }}<input type="file"  id="formFile" class="form-control" style="display: none;" name="image" (change)="onFileChange($event)">
    </label>
    <button (click)="upload()" class="btn btn-primary">
      {{ "import.upload" | translate }}
    </button>
  </div>

  <div *ngIf="fileUploadSuccessful">
  <h2>Anzeige nachdem die Datei erfolgreich hochgeladen wurde!</h2>
  <h3>Hinweise: Die nachfolgenden Anzeigen werden bald in eine separate Komponente für Debugzwecke ausgelagert</h3>
  <div>
    <h2>JSON-OBjekt in XML-Text umwandeln und mit dem Text aus dem Originalinput vergleichen</h2>
    <button (click)="testXmlTextEquality()" id="compareBtn">Vergleichen</button>
    <div>
      <div *ngIf="readEqualsParsed">
        <h4>Resultat: OK :)</h4>
        <p>Hurra, super Arbeit! Das umgewandelte JSON-Objekt entspricht zeichengenau dem Originalinput.</p>
      </div>
      <div *ngIf="readEqualsParsed !== undefinded && !readEqualsParsed">
        <h4>Resultat: Fehler :(</h4>
        <p>Schade, der Vergleich schlug fehl. Zur besseren Übersicht der Unterschiede nutze ein Text-Vergleich-Tool <a href="https://www.diffchecker.com/diff">Text-Vergleich-Tool</a></p>
        <div>
          <p>Kopiere Originaltext in die Zwischenablage:</p><button class="btn btn-primary" (click)="copyLongText(readFileString)">Kopieren</button>
          <p>Kopiere Text des umgewandelten JSON-OBjekts in die Zwischenablage:</p><button class="btn btn-primary" (click)="copyLongText(jsonToXmlString)">Kopieren</button>
        </div>
      </div>
    </div>
  </div>
  <h2>Übersicht: Importierte Daten</h2>
  <button (click)="prettyprintImportedData=!prettyprintImportedData">{{ "import.formatJSON" | translate }}</button>
   <table>
     <tr>
       <th>{{ "import.key" | translate }}</th>
       <th>{{ "import.value" | translate }}</th>
     </tr>
    <tr *ngFor="let key of importedDataKeys">
      <td>{{key}}</td>
      <td *ngIf="prettyprintImportedData" [innerHTML]="importedData[key] | prettyprint"></td>
      <td *ngIf="!prettyprintImportedData" [innerHTML]="importedData[key] | json"></td>
    </tr>
   </table>
  </div>
</div>


