@import "../../../color-definitions";
.capacity-table{
    margin-left: auto;
    margin-right: auto;
}
th {
    border-width: 1px  2px  2px  2px;
    border-color: black;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    min-width: 50px;
}

.center {
    text-align: center;
}

.empty {
    background: linear-gradient(to right top, #fff 0%,#fff 49.9%,#000000    
 50%,#000000 51%,#fff 51.1%,#fff 100%);
}

.gray {
    border-width: 1px  2px  2px  2px;
    border-color: black;
    background-color: lightgray;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
}

.none {
    border-width: 0px;
    border-color: black;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
}
td {
    border-width: 0px  2px  1px  2px;
    border-color: black;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
}

.matInputField{
    height: 100%;
    width: 100%;
}