<table class="capacity-table">
    <tr>
        <th>
            {{ "capacity.period" | translate }}
        </th>
        <th>

        </th>
        <th>
            
        </th>
        <th>
            
        </th>
        <th>
            {{ "capacity.workstation" | translate }}
        </th>
    </tr>
    <tr>
        <th>
            {{ "capacity.label" | translate }}
        </th>
        <th>
            {{ "capacity.bike_type" | translate }}
        </th>
        <th>
            {{ "capacity.article_code" | translate }}
        </th>
        <th>
            {{ "capacity.order_quantity" | translate }}
        </th>
  
    </tr>
    <tr>
        <td>
            {{ "capacity.back_wheel" | translate }}
        </td>
        <td>
            <tr>
                {{ "capacity.C" | translate }}
            </tr>
            <tr>
                {{ "capacity.L" | translate }}
            </tr>
            <tr>
                {{ "capacity.M" | translate }}
            </tr>
        </td>
        <td>
            <tr>
                {{ "capacity.I4" | translate }}
            </tr>
            <tr>
                {{ "capacity.I5" | translate }}
            </tr>
            <tr>
                {{ "capacity.I6" | translate }}
            </tr>
        </td>
    </tr>
    <tr>
        <td>
            {{ "capacity.front_wheel" | translate }}
        </td>
        <td>
            <tr>
                {{ "capacity.C" | translate }}
            </tr>
            <tr>
                {{ "capacity.L" | translate }}
            </tr>
            <tr>
                {{ "capacity.M" | translate }}
            </tr>
        </td>
        <td>
            <tr>
                {{ "capacity.I7" | translate }}
            </tr>
            <tr>
                {{ "capacity.I8" | translate }}
            </tr>
            <tr>
                {{ "capacity.I9" | translate }}
            </tr>
        </td>
    </tr>
    <tr>
        <td>
            {{ "capacity.back_fender" | translate }}
        </td>
        <td>
            <tr>
                {{ "capacity.C" | translate }}
            </tr>
            <tr>
                {{ "capacity.L" | translate }}
            </tr>
            <tr>
                {{ "capacity.M" | translate }}
            </tr>
        </td>
        <td>
            <tr>
                {{ "capacity.I10" | translate }}
            </tr>
            <tr>
                {{ "capacity.I11" | translate }}
            </tr>
            <tr>
                {{ "capacity.I12" | translate }}
            </tr>
        </td>
    </tr>
    <tr>
        <td>
            {{ "capacity.front_fender" | translate }}
        </td>
        <td>
            <tr>
                {{ "capacity.C" | translate }}
            </tr>
            <tr>
                {{ "capacity.L" | translate }}
            </tr>
            <tr>
                {{ "capacity.M" | translate }}
            </tr>
        </td>
        <td>
            <tr>
                {{ "capacity.I13" | translate }}
            </tr>
            <tr>
                {{ "capacity.I14" | translate }}
            </tr>
            <tr>
                {{ "capacity.I15" | translate }}
            </tr>
        </td>
    </tr>
    <tr>
        <td>
            {{ "capacity.handlebar" | translate }}
        </td>
        <td>
            <tr>
                {{ "capacity.CLM" | translate }}
            </tr>
        </td>
        <td>
            <tr>
                {{ "capacity.I16" | translate }}
            </tr>
        </td>
    </tr>
    <tr>
        <td>
            {{ "capacity.saddle" | translate }}
        </td>
        <td>
            <tr>
                {{ "capacity.CLM" | translate }}
            </tr>
        </td>
        <td>
            <tr>
                {{ "capacity.I17" | translate }}
            </tr>
        </td>
    </tr>
    <tr>
        <td>
            {{ "capacity.frame" | translate }}
        </td>
        <td>
            <tr>
                {{ "capacity.C" | translate }}
            </tr>
            <tr>
                {{ "capacity.L" | translate }}
            </tr>
            <tr>
                {{ "capacity.M" | translate }}
            </tr>
        </td>
        <td>
            <tr>
                {{ "capacity.I18" | translate }}
            </tr>
            <tr>
                {{ "capacity.I19" | translate }}
            </tr>
            <tr>
                {{ "capacity.I20" | translate }}
            </tr>
        </td>
    </tr>
    <tr>
        <td>
            {{ "capacity.pedals" | translate }}
        </td>
        <td>
            <tr>
                {{ "capacity.CLM" | translate }}
            </tr>
        </td>
        <td>
            <tr>
                {{ "capacity.I26" | translate }}
            </tr>
        </td>
    </tr>
    <tr>
        <td>
            {{ "capacity.front_wheel_complete" | translate }}
        </td>
        <td>
            <tr>
                {{ "capacity.C" | translate }}
            </tr>
            <tr>
                {{ "capacity.L" | translate }}
            </tr>
            <tr>
                {{ "capacity.M" | translate }}
            </tr>
        </td>
        <td>
            <tr>
                {{ "capacity.I49" | translate }}
            </tr>
            <tr>
                {{ "capacity.I54" | translate }}
            </tr>
            <tr>
                {{ "capacity.I29" | translate }}
            </tr>
        </td>
    </tr>
    <tr>
        <td>
            {{ "capacity.frame_and_wheels" | translate }}
        </td>
        <td>
            <tr>
                {{ "capacity.C" | translate }}
            </tr>
            <tr>
                {{ "capacity.L" | translate }}
            </tr>
            <tr>
                {{ "capacity.M" | translate }}
            </tr>
        </td>
        <td>
            <tr>
                {{ "capacity.I50" | translate }}
            </tr>
            <tr>
                {{ "capacity.I55" | translate }}
            </tr>
            <tr>
                {{ "capacity.I30" | translate }}
            </tr>
        </td>
    </tr>
    <tr>
        <td>
            {{ "capacity.bike_without_pedals" | translate }}
        </td>
        <td>
            <tr>
                {{ "capacity.C" | translate }}
            </tr>
            <tr>
                {{ "capacity.L" | translate }}
            </tr>
            <tr>
                {{ "capacity.M" | translate }}
            </tr>
        </td>
        <td>
            <tr>
                {{ "capacity.I51" | translate }}
            </tr>
            <tr>
                {{ "capacity.I56" | translate }}
            </tr>
            <tr>
                {{ "capacity.I31" | translate }}
            </tr>
        </td>
    </tr>
    <tr>
        <td>
            {{ "capacity.bike_complete" | translate }}
        </td>
        <td>
            <tr>
                {{ "capacity.C" | translate }}
            </tr>
            <tr>
                {{ "capacity.L" | translate }}
            </tr>
            <tr>
                {{ "capacity.M" | translate }}
            </tr>
        </td>
        <td>
            <tr>
                {{ "capacity.P1" | translate }}
            </tr>
            <tr>
                {{ "capacity.P2" | translate }}
            </tr>
            <tr>
                {{ "capacity.P3" | translate }}
            </tr>
        </td>
    </tr>
    <tr>
        <td>
            {{ "capacity.capacity_need_new" | translate }}
        </td>
    </tr>
    <tr>
        <td>
            {{ "capacity.set-up_time" | translate }}
        </td>
    </tr>
    <tr>
        <td>
            {{ "capacity.capacity_need_deficit_prior_period" | translate }}
        </td>
    </tr>
    <tr>
        <td>
            {{ "capacity.set-up_time_deficit_prior_period" | translate }}
        </td>
    </tr>
    <tr>
        <td>
            {{ "capacity.total_capacity_need" | translate }}
        </td>
    </tr>
    <tr>
        <td>
            {{ "capacity.shifts_and_extra_hours" | translate }}
        </td>
    </tr>
</table>