table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
th {
    font-size: large;
    padding: 10px;
}
td {
    font-size: large;
    padding: 10px;
}
.md-table {
    min-width: 50px;
    max-width: 75px;
    min-height: 30px;
    max-height: 30px;
  }