<!-- <table class="mat-elevation-z8" (change)="saveData()">
    <tr>
        <th>

        </th>
        <th>
            {{ "P" + (period+1) }}
        </th>
        <th>
            {{ "P" + (period+2) }}
        </th>
        <th>
            {{ "P" + (period+3) }}
        </th>
        <th>
            {{ "P" + (period+4) }}
        </th>
    </tr>
    <tr>
        {{ '' // Product 1 }}
        <td>
            P1
        </td>
        <td>
            <input matInput class="md-table" type="number" [(ngModel)]="forecastP1.p1" (change)="checkIfNumberIsValid(forecastP1, forecastP1.p1)"/> 
        </td>
        <td>
            <input matInput class="md-table" type="number" [(ngModel)]="forecastP2.p1"  (change)="checkIfNumberIsValid(forecastP2, forecastP2.p1)"/> 
        </td>
        <td>
            <input matInput class="md-table" type="number" [(ngModel)]="forecastP3.p1"  (change)="checkIfNumberIsValid(forecastP3, forecastP3.p1)"/> 
        </td>
        <td>
            <input matInput class="md-table" type="number" [(ngModel)]="forecastP4.p1" (change)="checkIfNumberIsValid(forecastP4, forecastP4.p1)"/> 
        </td>
    </tr>
    <tr>
        {{ '' // Product 2 }}
        <td>
            P2
        </td>
        <td>            
            <input matInput class="md-table" type="number" [(ngModel)]="forecastP1.p2" (change)="checkIfNumberIsValid(forecastP1, forecastP1.p2)"/> 
        </td>
        <td>
            <input matInput class="md-table" type="number" [(ngModel)]="forecastP2.p2" (change)="checkIfNumberIsValid(forecastP2, forecastP2.p2)"/> 
        </td>
        <td>            
            <input matInput class="md-table" type="number" [(ngModel)]="forecastP3.p2" (change)="checkIfNumberIsValid(forecastP3, forecastP3.p2)"/> 
        </td>
        <td>            
            <input matInput class="md-table" type="number" [(ngModel)]="forecastP4.p2" (change)="checkIfNumberIsValid(forecastP4, forecastP4.p2)"/> 
        </td>
    </tr>
    <tr> 
        {{ '' // Product 3 }}
        <td>
            P3
        </td>
        <td>
            <input matInput class="md-table" type="number" [(ngModel)]="forecastP1.p3" (change)="checkIfNumberIsValid(forecastP1, forecastP1.p3)"/> 
        </td>
        <td>
            <input matInput class="md-table" type="number" [(ngModel)]="forecastP2.p3" (change)="checkIfNumberIsValid(forecastP2, forecastP2.p3)"/> 
        </td>
        <td>            
            <input matInput class="md-table" type="number" [(ngModel)]="forecastP3.p3" (change)="checkIfNumberIsValid(forecastP3, forecastP3.p3)"/> 
        </td>        
        <td>
            <input matInput class="md-table" type="number" [(ngModel)]="forecastP4.p3" (change)="checkIfNumberIsValid(forecastP4, forecastP4.p3)"/> 
        </td>
    </tr>
</table> -->

<div class="tbl-wrapper">
    <table class="mat-elevation-z8" (change)="saveData()">
        <tr>
            <th></th>
            <th>
                {{ "P" + (period+1) }}
            </th>
            <th>
                {{ "P" + (period+2) }}
            </th>
            <th>
                {{ "P" + (period+3) }}
            </th>
            <th>
                {{ "P" + (period+4) }}
            </th>
        </tr>
        <tr *ngFor="let key of rowsToDisplay">
            <td>{{ key | uppercase }}
            </td>
            <td *ngFor="let forecast of [forecastP1, forecastP2, forecastP3, forecastP4]">
                <input matInput 
                    class="md-table" 
                    [value]="forecast[key]" 
                    (change)="checkIfNumberIsValid($event, forecast, key)" 
                    type="number"
                    min="0"
                    max="1000"
                    step="10"
                />
            </td>
            <!-- <td>
                <input matInput 
                    class="md-table" 
                    [value]="forecastP2[key]" 
                    (change)="checkIfNumberIsValid($event, forecastP2, key)"
                    type="number" 
                    min="0"
                    max="9999"
                    step="10"
                />
            </td>
            <td>            
                <input matInput 
                    class="md-table" 
                    [value]="forecastP3[key]" 
                    (change)="checkIfNumberIsValid($event, forecastP3, key)"
                    type="number" 
                    min="0"
                    max="9999"
                    step="10"
                />
            </td>        
            <td>            
                <input matInput 
                    class="md-table" 
                    [value]="forecastP4[key]" 
                    (change)="checkIfNumberIsValid($event, forecastP4, key)"
                    type="number" 
                    min="0"
                    max="9999"
                    step="10"
                />
            </td>         -->
        </tr>
    </table>
</div>