// @import 'src/styles.scss';
@import 'src/_color-definitions.scss';

.order-planning-table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
th {
    padding: 0 4px !important;
    border: 1px;
    border-style: solid;
    border-color: black;
    // background: mat-color($ibsys-primary);
    background: $primary-blue;
    color: white !important;
    font-size: medium !important;
}

td {
    text-align: center;
    // font-size: large;
    padding: 0px 10px 0px 10px !important;
    border: 1px;
    border-style: solid;
    border-color: black;
}

.tbl-wrapper {
    display: flex;
    justify-content: center;
}

.multiline-tooltip {
    white-space: pre-line;
}

input[type="number"] {
    width: 6em;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 4px;
}