<table class="order-planning-table">
    <tr>
        <th>{{ "orderPlanning.id" | translate }}</th>
        <th>{{ "orderPlanning.deliveryTime" | translate }}</th>
        <th>{{ "orderPlanning.deviation" | translate }}</th>
        <th>{{ "orderPlanning.safeDeliveryTime" | translate }}</th>
        <th>{{ "orderPlanning.discontQuantity" | translate }}</th>
        <th>{{ "orderPlanning.stock" | translate }}</th>
    </tr>
    <tr>
        <td>1</td>
        <td>2.3</td>
        <td>0.3</td>
        <td>2.6</td>
        <td>2000</td>
        <td>2000</td>
    </tr>
</table>