@import 'src/styles.scss';

.order-planning-table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
th {
    padding: 0 4px !important;
    border: 1px;
    border-style: solid;
    border-color: black;
    background: mat-color($ibsys-primary);
    color: white !important;
    font-size: medium !important;
}

td {
    font-size: large;
    padding: 10px;
    border: 1px;
    border-style: solid;
    border-color: black;
}

.tbl-wrapper {
    display: flex;
    justify-content: center;
}