<div class="tbl-wrapper">
    <table mat-table [dataSource]="purchase_parts" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>{{ "orderPlanning.id" | translate }}</th>
      <td mat-cell *matCellDef="let purchase_part">{{ (purchase_part.category + purchase_part.id)}}</td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="deliveryTime">
      <th mat-header-cell *matHeaderCellDef>{{ "orderPlanning.deliveryTime" | translate }}</th>
      <td mat-cell *matCellDef="let purchase_part">{{ purchase_part.replacementTime }}</td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="deviation">
      <th mat-header-cell *matHeaderCellDef>{{ "orderPlanning.deviation" | translate }}</th>
      <td mat-cell *matCellDef="let purchase_part">{{ purchase_part.replacementTimeVariance }}</td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="safeDeliveryTime">
      <th mat-header-cell *matHeaderCellDef>{{ "orderPlanning.safeDeliveryTime" | translate }}</th>
      <td mat-cell *matCellDef="let purchase_part">{{ purchase_part.replacementTimeAndVariance }}</td>
    </ng-container>

    <ng-container matColumnDef="discontQuantity">
      <th mat-header-cell *matHeaderCellDef>{{ "orderPlanning.discontQuantity" | translate }}</th>
      <td mat-cell *matCellDef="let purchase_part">{{ purchase_part.discountAmount }}</td>
    </ng-container>

    <ng-container matColumnDef="stock">
      <th mat-header-cell *matHeaderCellDef>{{ "orderPlanning.stock" | translate }}</th>
      <td mat-cell *matCellDef="let purchase_part"> 
        <mat-form-field appearance="fill">
            <input matInput [(ngModel)] = "purchase_part.current_stock"/>
        </mat-form-field>    
      </td>
    </ng-container>

    <ng-container matColumnDef="neededTillReplaced">
      <th mat-header-cell *matHeaderCellDef>{{ "orderPlanning.neededTillReplaced" | translate }}</th>
      <td mat-cell *matCellDef="let purchase_part">{{ purchase_part.neededTillReplaced }}</td>
    </ng-container>
    
    <ng-container matColumnDef="orderQuantity">
      <th mat-header-cell *matHeaderCellDef>{{ "orderPlanning.orderQuantity"  | translate }}</th>
      <td mat-cell *matCellDef="let purchase_part">
        <mat-form-field appearance="fill">
            <input matInput [(ngModel)] = "purchase_part.orderQuantity"/>
        </mat-form-field>  
      </td>
    </ng-container>

    <ng-container matColumnDef="orderType">
      <th mat-header-cell *matHeaderCellDef>{{ "orderPlanning.orderType"  | translate }}</th>
      <td mat-cell *matCellDef="let purchase_part">
        <mat-form-field appearance="fill">
            <mat-label>{{ "orderPlanning.orderType"  | translate }}</mat-label>
            <mat-select [(ngModel)] = "purchase_part.orderType" [compareWith]="objectComparisonFunction">
                <mat-option *ngFor="let orderType of orderTypes" [value]="orderType">
                {{ TypeMapping[orderType] || translate }}
                </mat-option>
            </mat-select>
          </mat-form-field>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
  
  


<table class="order-planning-table">
    <tr>
        <th>{{ "orderPlanning.id" | translate }}</th>
        <th>{{ "orderPlanning.deliveryTime" | translate }}</th>
        <th>{{ "orderPlanning.deviation" | translate }}</th>
        <th>{{ "orderPlanning.safeDeliveryTime" | translate }}</th>
        <th>{{ "orderPlanning.discontQuantity" | translate }}</th>
        <th>{{ "orderPlanning.stock" | translate }}</th>
        <th>{{ "orderPlanning.neededTillReplaced" | translate }}</th>
        <th>{{ "orderPlanning.orderQuantity"  | translate }}</th>
        <th>{{ "orderPlanning.orderType"  | translate }}</th>
    </tr>
    <tr [value] = "purchase_parts" *ngFor = "let purchase_part of purchase_parts; let i=index; trackByIndex">
        <td>
            {{ (purchase_part.category + purchase_part.id)}}  
        </td>
        <td>
            {{ purchase_part.replacementTime }}
        </td>
        <td>
            {{ purchase_part.replacementTimeVariance }}
        </td>
        <td>
            {{ purchase_part.replacementTimeAndVariance }}
        </td>
        <td>
            {{ purchase_part.discountAmount }}
        </td>
        <td>
            <mat-form-field appearance="fill">
            <input matInput [(ngModel)] = "purchase_part.current_stock"/>
        </mat-form-field>
        </td>
        <td>
            {{ purchase_part.neededTillReplaced }}
        </td>
        <td>
            <mat-form-field appearance="fill">
            <input matInput [(ngModel)] = "purchase_part.orderQuantity"/>
            </mat-form-field>
        </td>
        <td>
            <mat-form-field appearance="fill">
            <mat-label>{{ "orderPlanning.orderType"  | translate }}</mat-label>
            <mat-select [(ngModel)] = "purchase_part.orderType" [compareWith]="objectComparisonFunction">
                <mat-option *ngFor="let orderType of orderTypes" [value]="orderType">
                {{ TypeMapping[orderType] || translate }}
                </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
    </tr>
</table>