<!-- <div class="tbl-wrapper">
    <table class="mat-elevation-z8">
        <tr>   
            <th>
                
            </th>     
            <th>
                P1
            </th>
            <th>
                P2
            </th>
            <th>
                P3
            </th>
        </tr>
        <tr>
            <td>
                {{ "directSales.quantity" | translate }}
            </td>
            <td *ngFor="let item of sellDirect.items">
                <input 
                    matInput [value]="item.quantity" 
                    type="number"  
                    min="0" 
                    (change)="onChangeQuantity(item, $event.target.value)"
                    class="matInputField"
                />   
            </td>
        </tr>
        <tr>
            <td>
                {{ "directSales.price" | translate }}
            </td>
            <td *ngFor="let item of selldirect.items">
                <div>
                    <span>€</span>
                    <input matInput 
                        [value]="item.price" 
                        type="number" 
                        min="0" 
                        step="0.01" 
                        (change)="onChangePrice(item, $event.traget.value)" 
                        class="matInputField price"
                    />   
                </div>
            </td>
        </tr>
        <tr>
            <td>
                {{ "directSales.penalty" | translate }}
            </td>
            <td *ngFor="let item of selldirect.items">
                <div>
                    <span>€</span>
                    <input matInput 
                        [value]="item.penalty | number:'1.2-2'" 
                        (change)="onChangePenalty(item, $event.target.value)" 
                        type="number"
                        min="0.00" 
                        step="0.01"  
                        class="matInputField price"
                    />   
                </div>
            </td>
        </tr>
    </table>
</div> -->

<div class="tbl-wrapper">
    <table class="mat-elevation-z8">
        <tr>   
            <th></th>     
            <th>
                {{ "directSales.quantity" | translate }}
            </th>
            <th>
                {{ "directSales.price" | translate }}
            </th>
            <th>
                {{ "directSales.penalty" | translate }}
            </th>
        </tr>
        <tr *ngFor="let item of sellDirect.items; let idx = index">
            <td>P{{ idx + 1 }}</td>
            <td>
                <div class="input-wrapper">
                    <input matInput 
                        class="matInputField"
                        [value]="item.quantity | number:'1.0-0'" 
                        (change)="onChangeQuantity(item, $event)"
                        type="number"  
                        min="0"
                        step="10"
                        max="1000"
                    />   
                </div>
            </td>
            <td>
                <div class="input-wrapper">
                    <span class="currency-wrapper">
                        <span class="currency-value">€</span>
                    </span>
                    <input matInput 
                        class="matInputField price"
                        [value]="formatFloat(item.price)"
                        (change)="onChangePrice(item, $event)"
                        type="number" 
                        min="0" 
                        step="0.1" 
                    /> 
                </div>
            </td>
            <td>
                <div class="input-wrapper">
                    <span class="currency-wrapper">
                        <span class="currency-value">€</span>
                    </span>
                    <input matInput 
                        class="matInputField price"
                        [value]="formatFloat(item.penalty)" 
                        (change)="onChangePenalty(item, $event)" 
                        type="number"
                        min="0.00" 
                        step="0.1"
                    />   
                </div>
            </td>
        </tr>
    </table>
</div>