@import "../../../_color-definitions";
.navbar {
    background-color: $palette-mcgpalette0-A400;
}
.nav-bar-font{
    color: #ffffff;
}
.position-right {
    margin-left: auto;
    margin-right: 0;
}

mat-toolbar {
    max-height: 64px;
}