@import "../../../color-definitions";
// @import "../../../styles.scss";
.production-table{
    margin-left: auto;
    margin-right: auto;
}
th {
    border-width: 1px  2px  2px  2px;
    border-color: black;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    // background: mat-color($ibsys-primary);
    background: $primary-blue;
    color: white !important;
    font-size: medium !important;
}
td {
    border-width: 0px  2px  1px  2px;
    border-color: black;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
}

.matInputField{
    height: 100%;
    width: 100%;
}

input[type="number"].matInputField {
    width: 5em;

}

.table-wrapper{
    display: flex;
    justify-content: center;
}

::ng-deep th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
    padding: 0 4px !important;
}

::ng-deep th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding: 0 4px !important;
}

::ng-deep th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 0 4px !important;
}

::ng-deep .material-icons {
    font-size: large;
}

.multiline-tooltip {
    white-space: pre-line;
}

::ng-deep .mat-tooltip {
    font-size: small !important;
    white-space: pre;
    max-width: unset !important;
    width: fit-content !important;
}

.no-nodata-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
