<div class="table-wrapper">
    <table mat-table [dataSource]="inhouse_parts" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> {{ "production.product" | translate }} </th>
          <td mat-cell *matCellDef="let inhouse_part"> {{inhouse_part.category + inhouse_part.id}} </td>
        </ng-container>
      
        <ng-container matColumnDef="binding_orders">
          <th mat-header-cell *matHeaderCellDef> {{ "production.binding_orders" | translate }} </th>
          <td mat-cell *matCellDef="let inhouse_part"> {{ inhouse_part.binding_orders }} </td>
        </ng-container>
      
        <ng-container matColumnDef="predecessor_waiting_list">
          <th mat-header-cell *matHeaderCellDef> {{ "production.predecessor_waiting_list" | translate }}</th>
          <td mat-cell *matCellDef="let inhouse_part">
            <div *ngIf="inhouse_part.predecessor_waiting_list > 0; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>{{inhouse_part.predecessor_waiting_list}}</ng-template>
            <ng-template #elseBlock></ng-template>       
          </td>
        </ng-container>
      
        <ng-container matColumnDef="planned_stock">
          <th mat-header-cell *matHeaderCellDef> {{ "production.planned_stock" | translate }} </th>
          <td mat-cell *matCellDef="let inhouse_part">
                <input matInput 
                    [value]="inhouse_part.planned_stock" 
                    (change)="updateAfterChange($event, inhouse_part)" 
                    class="matInputField"
                    type="number" 
                    min="0"
                    max="1000"
                    step="10"
                />
          </td>
        </ng-container>
    
        <ng-container matColumnDef="current_stock">
            <th mat-header-cell *matHeaderCellDef> {{ "production.current_stock" | translate }} </th>
            <td mat-cell *matCellDef="let inhouse_part"> <input matInput [(ngModel)]="inhouse_part.current_stock" (change)="updateAfterChange(inhouse_parts[i])" type="number"  min="0" pattern="/^\d+$/" class="matInputField"/> </td>
        </ng-container>
    
        <ng-container matColumnDef="in_queue">
            <th mat-header-cell *matHeaderCellDef> {{ "production.in_queue" | translate }}</th>
            <td mat-cell *matCellDef="let inhouse_part"> <input matInput [(ngModel)]="inhouse_part.in_queue" (change)="updateAfterChange(inhouse_parts[i])" type="number"  min="0" pattern="/^\d+$/" class="matInputField"/> </td>
        </ng-container>
    
        <ng-container matColumnDef="in_process">
            <th mat-header-cell *matHeaderCellDef> {{ "production.in_process" | translate }} </th>
            <td mat-cell *matCellDef="let inhouse_part"> <input matInput [(ngModel)]="inhouse_part.in_process" (change)="updateAfterChange(inhouse_parts[i])" type="number"  min="0" pattern="/^\d+$/" class="matInputField"/>  </td>
        </ng-container>
    
        <ng-container matColumnDef="planned_production">
            <th mat-header-cell *matHeaderCellDef> {{ "production.planned_production" | translate }} </th>
            <td mat-cell *matCellDef="let inhouse_part" title='{{ "production.tooltip" | translate }} 
            {{ inhouse_part.binding_orders }} + {{ inhouse_part.predecessor_waiting_list }} + {{ inhouse_part.planned_stock }} - {{ inhouse_part.current_stock }} - {{ inhouse_part.in_queue }} - {{ inhouse_part.in_process }} = {{ inhouse_part.planned_production }}'> 
            {{ inhouse_part.planned_production }}
            <mat-icon>
                info
            </mat-icon>
            </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

</div>
  
  

<!-- <table class="production-table">
<tr>
    <th>
        {{ "production.product" | translate }}
    </th>
    <th>
        {{ "production.binding_orders" | translate }}

    </th>
    <th>
        {{ "production.predecessor_waiting_list" | translate }}
    </th>
    <th>
        {{ "production.planned_stock" | translate }}
    </th>
    <th>
        {{ "production.current_stock" | translate }}
    </th>
    <th>
        {{ "production.in_queue" | translate }}
    </th>
    <th>
        {{ "production.in_process" | translate }}
    </th>
    <th>
        {{ "production.planned_production" | translate }}
    </th>
</tr>
<tr [value]="inhouse_parts" *ngFor="let inhouse_part of inhouse_parts;let i=index; trackBy:trackByIndex">
    <td>
       {{inhouse_part.category + inhouse_part.id}}
    </td>
    <td>
        {{ inhouse_parts[i].binding_orders }}
     </td>
     <td>
        <div *ngIf="inhouse_parts[i].predecessor_waiting_list > 0; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>{{inhouse_parts[i].predecessor_waiting_list}}</ng-template>
        <ng-template #elseBlock></ng-template>
     </td>
     <td>
        <input matInput [(ngModel)]="inhouse_parts[i].planned_stock" (change)="updateAfterChange(inhouse_parts[i])" type="number"  min="0" pattern="/^\d+$/" class="matInputField"/>
     </td>
     <td>
        <input matInput [(ngModel)]="inhouse_parts[i].current_stock" (change)="updateAfterChange(inhouse_parts[i])" type="number"  min="0" pattern="/^\d+$/" class="matInputField"/>
     </td>
     <td>
        <input matInput [(ngModel)]="inhouse_parts[i].in_queue" (change)="updateAfterChange(inhouse_parts[i])" type="number"  min="0" pattern="/^\d+$/" class="matInputField"/>
     </td>
     <td>
        <input matInput [(ngModel)]="inhouse_parts[i].in_process" (change)="updateAfterChange(inhouse_parts[i])" type="number" min="0" pattern="/^\d+$/" class="matInputField"/>
     </td>
     <td>         
        {{ inhouse_parts[i].planned_production }}
     </td>
    <tr>
</table> -->